body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main_images1 {
  width:72%;
  margin:auto;
}

.main_images2 {
  width:60%;
  margin:auto;
}
.main_images3 {
  width:65%;
  margin:auto;
}
.col-sm-4 {
  text-align: center;
}
.col-sm-4:hover {
  border: 5px solid green;
  transform: translate(20px,20px);
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}